<article class="manage-commission">
  <h4>{{ isEdit ? "Editar" : "Crear" }} comisión</h4>
  <form class="manage-commission__form" [formGroup]="formCommission">
    <div>
      <span>Junior (Valor en %)</span>
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="junior"
          placeholder="name@example.com"
          formControlName="junior"
        />
        <label for="junior">Junior</label>
      </div>
    </div>
    <div>
      <span>Senior (Valor en %)</span>
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="senior"
          placeholder="name@example.com"
          formControlName="senior"
        />
        <label for="senior">Senior</label>
      </div>
    </div>
    <div>
      <span>Master (Valor en %)</span>
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="master"
          placeholder="name@example.com"
          formControlName="master"
        />
        <label for="master">Master</label>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-{{ isEdit ? 'warning' : 'success' }}"
      (click)="sendCommission()"
    >
      {{ isEdit ? "Editar" : "Crear" }}
    </button>
  </form>
</article>
