<article class="sales">
  <div class="form-floating sales__select">
    <select
      class="form-select"
      id="selectAdvisor"
      aria-label="Floating label select example"
    >
      <option selected>Todos</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <label for="selectAdvisor">Seleccionar asesor</label>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Asesor</th>
          <th scope="col">Producto</th>
          <th scope="col">Valor</th>
          <th scope="col" title="Fecha de creación">Fecha</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>25</td>
          <td>Pepita Perez</td>
          <td>Celular Samsung A30</td>
          <td>800.000 COP</td>
          <td>12/05/2023</td>
        </tr>
        <tr>
          <td>25</td>
          <td>Pepita Perez</td>
          <td>Celular Samsung A30</td>
          <td>800.000 COP</td>
          <td>12/05/2023</td>
        </tr>
        <tr>
          <td>25</td>
          <td>Pepita Perez</td>
          <td>Celular Samsung A30</td>
          <td>800.000 COP</td>
          <td>12/05/2023</td>
        </tr>
      </tbody>
    </table>
    <span>Total valor de ventas: </span>
    <span class="fw-bold">5.000.000 COP</span>
  </div>
</article>
