<article class="register">
  <form class="register__form" [formGroup]="formRegister">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="name@example.com"
        formControlName="name"
      />
      <label for="name">Nombre completo</label>
    </div>
    <app-common-form [formGroup]="formRegister"></app-common-form>
    <button type="submit" class="btn btn-primary" (click)="sendData()">
      Registrar
    </button>
  </form>
  <div>
    <span>¿Ya tienes cuenta? </span>
    <button type="button" class="btn btn-info" routerLink="">
      Iniciar sesión
    </button>
  </div>
</article>
