<article>
  <form>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="name@example.com"
      />
      <label for="name">Nombre completo</label>
    </div>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
      <label for="email">Correo electrónico</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <label for="password">Contraseña</label>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</article>
