%flexCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register {
  @extend %flexCol;
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &__form {
    @extend %flexCol;
  }
}
