<article class="commissions">
  <div class="commissions__btnCrup">
    <button type="button" class="btn btn-success">Crear comisión</button>
    <button type="button" class="btn btn-warning">Editar comisión</button>
    <button type="button" class="btn btn-danger">Eiliminar comisión</button>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo de asesor</th>
          <th scope="col">Meta</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let target of targets">
          <td>{{ target.type }}</td>
          <td>
            {{ target.price | currency : "COP" : "symbol-narrow" : "1.0" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
