<article class="commissions">
  <button type="button" class="btn btn-success">Crear comisión</button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="2">Acciones</th>
          <th scope="col">Valor</th>
          <th scope="col" title="Fecha de creación">Fecha</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>
            <button type="button" class="btn btn-warning">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
          <td>20%</td>
          <td>12/05/2023</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-warning">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
          <td>20%</td>
          <td>12/05/2023</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-warning">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
          <td>20%</td>
          <td>12/05/2023</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
