<article class="profile">
  <form class="profile__form">
    <div class="form-floating">
      <input type="text" class="form-control" id="name" placeholder="name" />
      <label for="name">Nombre completo</label>
    </div>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
      <label for="email">Correo electrónico</label>
    </div>
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="number"
        placeholder="number"
      />
      <label for="number">Número telefónico</label>
    </div>
    <button type="button" class="btn btn-success">Guardar</button>
  </form>
</article>
