/* You can add global styles to this file, and also import other style files */
:root {
  --bg-primary: #e9ecef;
}

body {
  background-color: var(--bg-primary);
}

.menu-icon-item,
.menu-opener {
  font-size: 1.2rem !important;
}

.sidebar-header {
  display: block !important;
  height: 20px;
}

.dock {
  min-width: 35px !important;
  height: 94vh !important;
  padding: 15px 7px !important;
  lib-sidebar-item-icon {
    display: flex;
    align-items: center;
  }
}
