<form class="change-password" [formGroup]="formPassword">
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="currentPassword"
      placeholder="currentPassword"
      formControlName="currentPassword"
    />
    <label for="currentPassword">Contraseña actual</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="newPassword"
      placeholder="newPassword"
      formControlName="newPassword"
    />
    <label for="newPassword">Contraseña nueva</label>
  </div>
  <button type="button" class="btn btn-success">Cambiar contraseña</button>
</form>
